 <% if params[:process] == :creation.to_s %>
	<h1>Saved!</h1>
<% else %>
	<h1>Updated!</h1>
<% end %>

<h1>Books</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Author</th>
	</tr>
	<tr>
		<td><%= @book.name %></td>
		<td><%= @book.author %></td>
	</tr>
</table>